@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "styleprime.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
}

body{
    /*background: linear-gradient(to left, #1f2d1f, #585548);*/
    background: #847373;
}
.nav{
    width: 100%;
    height: 69px;
    border-radius: 25px;
    justify-content: space-evenly;
}
.para{
  padding: 10px 14px;
  margin: 3px 0;
}

/*.search{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  background-image: url('search.svg');
  height: 31px;
  background-repeat: no-repeat;

}
.search:hover{
  background: #0b7dda;
}
.search::after{
  content: "";
  clear: both;
  display: table;
}*/
.box{
    flex-direction: column;
    width: 66px;
    height: 50px;
    transition: all .4s;
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
}
.active{
    box-shadow: 0 5px 10px rgba(21, 19, 19),0 1.9px 10px rgba(25, 23, 23);
    border: 2px solid #f1f1f1;
}
.box input{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-appearance: none;
}
.box i,.box p{
    transition: all .4s;
}
.box p{
    margin-top: 3px;
    font-size: 0.7rem;
}
.box input:checked ~ i,
.box input:checked ~ p{
    color: #f1f1f1;
    text-shadow: 0 0 30px #4a00e0de;
}
footer{
  position: ;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}
