.social{
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
    position: relative;
    width: 29px;
    height: 29px;
    color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 1em;
    transition: all .4s;
}
a::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    background: #cee849;
    border-radius: 50%;
    transform: scale(2);
    z-index: -1;
    transition: all .9s;
    border: 2px solid #ffff;

}
a:nth-child(2)::before{
    background: #25d366;
    border: 2px solid #ffff;

}
a:nth-child(3)::before{
    background: #1da1f2;
    border: 2px solid #ffff;

}
a:nth-child(4)::before{
    background: #7289da;
    border: 2px solid #ffff;

}
a:nth-child(5)::before{
    background: #715cda;
    border: 2px solid #ffff;
}

a:hover::before{
    transform: translateY(10px) scaleX(1) scaleY(1);
    filter: blur(5px);
}

a:hover:nth-child(1){
    color: #cee849;
    text-shadow: 0 0 50px #cee849;
}
a:hover:nth-child(2){
    color: #25d366;
    text-shadow: 0 0 50px #25d366;
}
a:hover:nth-child(3){
    color: #1da1f2;
    text-shadow: 0 0 50px #1da1f2;
}
a:hover:nth-child(4){
    color: #7289da;
    text-shadow: 0 0 50px #7289da;
}
a:hover:nth-child(5){
    color: #1977f2;
    text-shadow: 0 0 50px #1977f2;
}
#pradesh1:hover,
#pradesh2:hover,
#pradesh3:hover,
#pradesh4:hover,
#pradesh5:hover,
#pradesh6:hover,
#pradesh7:hover {
opacity: 0.5;
}
